.toolbar {
  padding: 0 var(--space-8);
  margin-bottom: var(--space-2);
}

.projectSelect {
  composes: field-select from global;
}

.container {
  padding: var(--space-8);
  display: flex;
  gap: var(--space-4);
  overflow-x: auto;
  background-color: var(--color-bg-base);
  min-height: calc(100vh - 100px);
}

.loading {
  justify-content: center;
  align-items: center;
}
